:root
{
    --main-color-white: #fff;
    --main-color-blue: #4D5AE5;
    --main-color-text:#2E2F42 ;
    --second-color-text: #434455;
    --color-cloud:#E7E9FC;
    --color-of-card: #F4F4FD;
    --main-color-focus:#4D5AE5;
    --button-h-one-focus:#404BBF;

}

/*#4D5AE5  цвет лого  */
/* #2E2F42 заглавный цвет текста */
/* #FFFFFF цвет фона */
/* #434455 вторичный цвет текста */
/* #E7E9FC цвет текста футера */
/* #F4F4FD цевт сецкии с карточками */


/* оформлення боді*/

body
{
    color:var(--main-color-text);
    font-family: Roboto, sans-serif;
    background-color: var(--main-color-white);
}

p
{
    margin: 0;
}
.main-nav
{
    align-items: center;
    display: flex;
}

.container
{
    margin-left: auto;
    margin-right: auto;
    width: 1158px;
    
}

.list
{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
} 

.color-title
{
    color:var(--main-color-text);
    letter-spacing: 0.02em;
    font-weight: 600;
    font-size: 20px;
}


/* logo design */
.header
{
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    padding-top: 24px;
    padding-bottom: 24px;
   
}

.color-web
{
    
    font-family: Raleway, sans-serif;
    color:var(--main-color-blue);
    font-size: 18px;
    line-height: 1.3;
    font-weight: 800;
    text-decoration: none;
    
}

.color-web:focus
{
    color:var(--main-color-focus);
} 

.studio-title
{
    font-family: Raleway, sans-serif;
    color:var(--main-color-text);
    font-size: 18px;
    line-height: 1.3;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 77px;
}

/* navigation design */



.navigation
{
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 600;
}

.navigation li:not(:last-child)
{
    margin-right: 40px;
}


.item
{
    text-decoration: none;
    color: var(--main-color-text);
}

.item:hover, .item:focus
{
    color: var(--main-color-focus);
}

/*adress design */

.adress
{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--second-color-text);
    text-decoration:none;
}

.adress:focus, .adress:hover
{
    color:var(--main-color-focus);
}

.contact
{
    display: flex;
    margin-left:auto
}

.contact li:not(:last-child)
{
    margin-right: 40px ;
}


/* section 1 */



.section-title
{
    margin-bottom: 120px;
    height: 603px;
    background-color:var(--main-color-text);
}

.title-h-one
{
    margin:0;
    margin-right: auto;
    margin-left:auto;
    padding-top: 192px;
    padding-bottom: 48px;
    color:var(--main-color-white);
    max-width: 492px;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;

}

.button-h-one
{
    display: block;
    margin: 0;
    margin-right: auto;
    margin-left:auto;
    min-width: 170px;
    border-radius: 4px;
    padding: 16px 32px;
    color:var(--main-color-white);
    background: var(--main-color-blue);
    font-family: Roboto, serif;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.04em;
    font-size: 16px;
    border:1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-h-one:focus, .button-h-one:hover
{
    background-color:var(--button-h-one-focus);
    transition: 0.5s;
}


/* section 2 */

.recomends
{
    display: flex;
    height:380px;
}

.recomends li:not(:first-child)
{
    margin-left: 24px;
}
.section-h-two
{
    
    color: var(--second-color-text);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 0.02em;
    font-size: 20px;
}

.p-h-two
{
    
    font-size: 16px;
}

.about
{
    text-align: left;
    margin-bottom: 8px;
    margin-top: 0;
}
.recomends-p
{
    color:var(--second-color-text);
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    font-size: 16px;
    text-align: left;  
}
/* section 3 */
.section
{
    margin-bottom: 120px;
}

.color-card
{
    background-color: var(--main-color-white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px
}
.card-bgc
{
    background-color: var(--color-of-card);
    padding-bottom: 120px;
}

.about-us 
{

    text-align: center;
    font-size: 36px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0.02em;
}

.we
{
    margin-top: 120px;
    margin-bottom: 72px;
}

.img
{
    display: flex;
}
.img li:not(:first-child)
{
    margin-left: 24px;
}
/* section 4 */

.our-team
{
    padding-bottom: 72px;
    padding-top: 120px;
    margin: 0;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.02em;
    font-size: 36px;
}

.color-p
{
    color:var(--second-color-text);
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    font-size: 16px;
    text-align: center;
}


.guys
{
    text-align: center;
    font-size: 20px;
}

.team
{
    
    margin-top: 32px;
    margin-bottom: 8px;
}

/* footer */


.footer-p
{
   width: 264px; 
   padding-top: 16px;
}
.footer
{
    
    padding-top: 100px;
    background-color:var(--main-color-text);
    color:var(--color-cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    height: 310px;
}

.studio-second
{
    font-family: Raleway, sans-serif;
    color:var(--color-cloud);
    font-size: 18px;
    line-height: 1.3;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}




/* Portfolio design */




/* section 1*/

.buttons
{
    display: flex;
    justify-content: center;
}

.buttons li:not(:last-child)
{
    margin-right: 24px;
}

.nav-portfolio
{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-bottom: 72px;
    margin-top:92px;
}
.nav-all
{
    
    border:1px solid transparent;
    border-radius: 4px;
    color: var(--main-color-blue);
    background: var(--color-cloud);
    font-weight: 600;
    width: 69px;
    height: 48px;
    font-size: 16px;
    cursor: pointer;
    font-family: Roboto, sans-serif;
}
.nav-all:hover, .nav-all:focus
{
    color:var(--main-color-white);
    background: var(--main-color-blue);
}

.web-site
{
    border-radius: 4px;
    border:1px solid transparent;
    color:var(--main-color-blue);
    background: var(--color-cloud);
    font-weight: 600;
    width: 116px;
    height: 48px;
    font-size: 16px;
    cursor: pointer;
    font-family: Roboto, sans-serif;
}

.web-site:focus, .web-site:hover
{
    color:var(--main-color-white);
    background: var(--main-color-blue);
}

.app
{
    border-radius: 4px;
    border:1px solid transparent;
    color:var(--main-color-blue);
    background: var(--color-cloud);
    font-weight: 600;
    width: 78px;
    height: 48px;
    font-size: 16px;
    cursor:pointer;
    font-family: Roboto, sans-serif;
}

.app:focus, .app:hover
{
    color:var(--main-color-white);
    background: var(--main-color-blue);
}

.design
{
    border-radius: 4px;
    border:1px solid transparent;
    color:var(--main-color-blue);
    background: var(--color-cloud);
    font-weight: 600;
    width: 101px;
    height: 48px;
    font-size: 16px;
    cursor: pointer;
    font-family: Roboto, sans-serif;
}

.design:focus, .design:hover
{
    color:var(--main-color-white);
    background: var(--main-color-blue);
}

.marketing
{
    border-radius: 4px;
    border:1px solid transparent;
    color:var(--main-color-blue);
    background: var(--color-cloud);
    font-weight: 600;
    width: 126px;
    height: 48px;
    font-size: 16px;
    cursor:pointer;
    font-family: Roboto, sans-serif;
}

.marketing:focus, .marketing:hover
{
    color:var(--main-color-white);
    background: var(--main-color-blue); 
}


/* section 2 */


.h-two
{
    margin:0;
    padding-top:32px;
    padding-bottom: 8px;
    padding-left: 16px;
    color:var(--main-color-text);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.p-portfolio
{
    padding-left: 16px;
    padding-bottom: 32px;
    color:var(--second-color-text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.p-portfolio-second
{
    color: var(--color-cloud);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.project
{
    margin: 0;
    text-indent: -9999em;
    outline: 0;
}

.filters
{
    display: flex ;
    flex-wrap: wrap;
    
}

.card-border
{
    
    width: 360px;
    
    margin-bottom: 48px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-border:not(:nth-child(3n))
{
    margin-right: 24px;
}

.card-border:nth-last-child(-n + 3)
{
    margin-bottom: 48px;
}



